@use "./mixins" as u;

body {
  background-image: url("/images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: 65px -90px;

  @include u.breakpoint-up(medium) {
    background-image: url("/images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: 650px -60px;
  }

  @include u.breakpoint-up(large) {
    background-image: url("/images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: 880px;
    background-position: top -163px right -258px;
  }
}

main {
  background-image: url("/images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 230px 345px;

  @include u.breakpoint-up(medium) {
    background-image: url("/images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: -484px 905px;
  }

  @include u.breakpoint-up(large) {
    background-image: url("/images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: left -620px bottom 215px;
    background-size: 75%;
  }
}

.hero {
  position: relative;

  @include u.breakpoint-up(large) {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 69.5rem;
    margin-inline: auto;
    margin-bottom: 7.5rem;
  }

  &__img {
    padding-inline: 2rem;

    @include u.breakpoint-up(large) {
      flex: 1;
      order: 2;
      padding-inline: 0;
    }
  }

  &__content {
    text-align: center;
    padding: 1.5rem 2rem 6.25rem;

    @include u.breakpoint-up(large) {
      flex: 1;
      order: 1;
      text-align: left;
      padding: 0;
    }

    h1 {
      font-weight: 700;
      font-size: var(--fs-500);
      color: var(--neutralDarker);
    }

    p {
      font-weight: 400;
      margin-block: 0.875rem 2rem;
      font-size: var(--fs-100);
      color: var(--neutralLight);

      @include u.breakpoint-up(large) {
        max-width: 23.875rem;
        margin-block: 2rem 2.5rem;
      }
    }
  }
}

.hero-cta {
  button {
    font-weight: 500;
    color: var(--neutralLightest);
    background-color: var(--primaryLight);
    opacity: 1;
    transition: opacity ease-in-out 300ms;

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
}
